<!-- <% include('layouts/header'); %> -->
<%- include('layouts/navbar'); -%>
    <main>
        <div class="product">
            <% data.forEach(product=> { %>
                <div class="product-item">
                    <h3 class="product-title">
                        <%= product.title %>
                    </h3>
                    <div class="product-img">
                        <img src="/images/<%=product.imageURL%>" alt="">
                    </div>
                    <div class="product-price">
                        $
                        <%= product.price %>
                    </div>
                    <p class="product-desc">
                        <%= product.description %>
                    </p>
                    <button class="btn-add-cart">Add to cart</button>
                </div>
                <% }) %>
        </div>
        <ul class="pagination">
            <% let prevPage=(page<totalPage) ? '' : `/Products?page=${page - 1}`%>
                <li><a href="<%= prevPage %>">Prev</a></li>
                <% let nextPage=(page>= totalPage) ? '' : `/Products?page=${page + 1}` %>

                    <% for( let i=1; i <=totalPage; i++ ) { %>
                        <% let active=page===i && 'active' %>

                            <li>
                                <a class="<%= active %>" href="/Products?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                                <li><a href="<%= nextPage %>">Next</a></li>
        </ul>
    </main>